.lightGreen {
    color:#6eeB83;
    background-color: #6eeB83;
}
.champagnePink {
    color: #f9dec9;
}
.davysGray{
    color: #4a4a48;
}
.electricBlue{
    color: #7ee8fa;
}
.reptileGreen{
    color:#a1ef8b;
}