.icon-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.icons{
    background-color: #a1ef8b8e;
    text-align: center;
    padding: 20px 20px 0px 20px;
    display: flex;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
}
.icon{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border: solid 1px;
    margin-bottom: 10px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foods{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 150px;
    border-bottom: 1px solid;
}
.grains{
    background-color: rgba(233, 208, 176, 0.747);
}
.dairy{
    background-color: rgba(107, 201, 238, 0.747);
}
.veggies{
    background-color: rgb(32, 214, 32);
}
.protein{
    background-color: rgb(218, 90, 90);
    margin-bottom: 10px;
}
.icons:hover, .icons-selected{
    box-shadow: 5px 5px 5px;
}
.table{
    display: flex;
    margin: 10px;
    height: 20vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #a1ef8b8e;
}